.footer {
  /* opacity: 0%; */
  display: hidden;
  position: fixed;
  padding: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  background: green;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.footerItems {
  box-shadow: 3px 3px 6px rgb(6, 229, 65);
  margin: 20px;
  border: 2px solid white;
  padding: 8px 8px;
}
